@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: black;
  padding-bottom: 6.5rem;
}

.navbar {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1a1a1a;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  color: white;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.navbar a i {
  color: crimson;
  padding-right: .5rem;
}

.navbar a:hover {
  padding-bottom: 4rem;
  background: crimson;
}

.navbar a:hover i {
  color: white;
}
