@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: black;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.navbar {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 1.5rem;
  font-size: 1.5rem;
  background: #1a1a1a;
  color: white;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.navbar a i {
  color: crimson;
  padding-right: .5rem;
}

.navbar a:hover {
  padding-bottom: 4rem;
  background: crimson;
}

.navbar a:hover i {
  color: white;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-gap: 4rem;
  min-height: calc(100vh-6.5rem);
}

.home .home__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .home__image img {
  height: 50rem;
  width: 50rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home .home__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .home__content h3 {
  color: white;
  font-size: 4rem;
  padding-bottom: .5rem;
}

.home .home__content span {
  font-size: 3rem;
  color: crimson;
  padding: .5rem 0;
  display: block;
}

.home .home__content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.home .home__content .home__content--btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: white;
  padding-left: 2rem;
}

.home .home__content .home__content--btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  margin-left: 2rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.home .home__content .home__content--btn:hover i {
  margin-left: 1.5rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .navbar a:hover {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .home__image img {
    width: 30rem;
    height: 30rem;
  }
  .home h3 {
    font-size: 3rem;
  }
  .home span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .home__image img {
    width: 20rem;
    height: 20rem;
  }
}
