@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}
$crimson:crimson;
$black:black;
$light-bg:#1a1a1a;
$white:white;
$light-color:#aaa;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.7);

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $black;
    }
    &::-webkit-scrollbar-thumb{
        background: $crimson;
        border-radius: 5rem;
    }
}
body{
    background: $black;
    padding-bottom: 6.5rem;
}
section{
    padding: 5rem 9%;
}
.navbar{
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: flex-end;
    a{
        padding: 1.5rem;
        font-size: 1.5rem;
        background: $light-bg;
        color: $white;
        transition:.3s linear;
        flex: 1;
        text-align: center;
        i{
            color: $crimson;
            padding-right: .5rem;
        }
        &:hover{
            padding-bottom: 4rem;
            background: $crimson;
            i{
                color: $white;
            }
        }
    }
}

.home{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    grid-gap: 4rem;
    min-height: calc(100vh-6.5rem);
    .home__image{
        flex: 1 1 42rem;
        text-align: center;
        img{
            height: 50rem;
            width: 50rem;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
    }
    .home__content{
        flex: 1 1 42rem;
        
        h3{
            color: $white;
            font-size: 4rem;
            padding-bottom: .5rem;
        }
        span{
            font-size: 3rem;
            color: $crimson;
            padding:.5rem 0;
            display: block;
        }
        p{
            font-size: 1.5rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 2;
        }
        .home__content--btn{
            display: inline-block;
            margin-top: 1rem;
            border-radius: 5rem;
            background: $crimson;
            padding: .7rem;
            font-size: 1.7rem;
            color: $white;
            padding-left: 2rem;
            i{
                height: 4rem;
                width: 4rem;
                line-height: 4rem;
                font-size: 1.7rem;
                text-align: center;
                background: $white;
                color: $crimson;
                border-radius: 50%;
                margin-left: 2rem;
                transition: .2s linear;
            }
            &:hover i{
                margin-left: 1.5rem;
            }
        }
    }
}







// media queries
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .navbar{
        a{
            &:hover{
                padding-bottom: 3rem;
            }
        }
    }
    
}
@media (max-width:768px) {
    .navbar{
        a{
            i{
                padding: 0;
            }
            span{
                display: none;
            }
            &:hover{
                padding-bottom: 2rem;
            }
        }
    }
    .home{
        text-align: center;
        gap: 2rem;
        .home__image img{
            width: 30rem;
            height: 30rem;
        }
        h3{
            font-size: 3rem;
        }
        span{
            font-size: 2.5rem;
        }
    }
    
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .home{
        .home__image img{
            width: 20rem;
            height: 20rem;
        }
    }
    
}